
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Dispositivos</title>
	<link rel="stylesheet" href="recursos/css/estilos.css" />
	<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />
</h:head>
<body>

	<div class="cover"
		style="background-image: url('recursos/images/banner.jpg');">
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/logoSeidorAzul.png" alt="" width="300" />
			</div>
		</div>
	</div>


	<div id="navegacion">
		<div id="nav">
			<ul>
				<li><p:link styleClass="a" outcome="index" value="Salir"></p:link></li>
				<li><p:link styleClass="a" outcome="mapaSensores"
						value="Ver Mapa"></p:link></li>
			</ul>
		</div>
	</div>


	<div class="title">
		<p>DISPOSITIVOS</p>
	</div>
	<div id="formulario">
		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />
			<p:commandButton value="Actualizar" update="datos" process="@this"
				icon="ui-icon-refresh">
			</p:commandButton>
			<p:commandButton value="Agregar" type="button"
				onclick="PF('dialog').show();">
			</p:commandButton>
			<br></br>
			<p:dataTable id="datos" value="#{dispositivos.device}" var="item"
				editable="true"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks}
                         {NextPageLink} {LastPageLink} {Exporters}"
				paginator="true" rows="10" style="margin-bottom:20px">

				<p:ajax event="rowEdit" listener="#{dispositivos.onRowEdit}"
					update=":form:msgs" />

				<p:column style="width: 320px;">
					<f:facet name="header">
						<h:outputText value="ID DEVICE" />
					</f:facet>
					<h:outputText value="#{item.ID}" />
				</p:column>

				<p:column style="width: 200px;">
					<f:facet name="header">
						<h:outputText value="LATITUD" style="width: 200px;" />
					</f:facet>
					<p:cellEditor>

						<f:facet name="output">
							<h:outputText value="#{item.LATITUD}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{item.LATITUD}" />
						</f:facet>
					</p:cellEditor>
				</p:column>

				<p:column style="width: 200px;">
					<f:facet name="header">
						<h:outputText value="LONGITUD" />
					</f:facet>
					<p:cellEditor>

						<f:facet name="output">
							<h:outputText value="#{item.LONGITUD}" />
						</f:facet>
						<f:facet name="input">
							<p:inputText value="#{item.LONGITUD}" style="width:100%" />
						</f:facet>
					</p:cellEditor>
				</p:column>

				<p:column style="width:50px">
					<f:facet name="header">
						<h:outputText value="Editar" />
					</f:facet>
					<p:rowEditor />
				</p:column>

				<p:column style="width:50px;text-align: center">
					<f:facet name="header">
						<h:outputText value="Eliminar" />
					</f:facet>
					<p:commandButton update=":form:datos" process="@this"
						actionListener="#{dispositivos.eliminarDevice()}"
						icon="ui-icon-cancel">
						<f:setPropertyActionListener value="#{device}"
							target="#{dispositivos.selectedDevice}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>

		</h:form>
	</div>
	<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<ul>
				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html"
					target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>

	<p:dialog header="Agregar Dispositivo" widgetVar="dialog" modal="true"
		height="250" width="550" resizable="false">
		<div id="titleFormulario">
			<h2 class="titleForm">Agregar nuevo dispositivo</h2>
		</div>

		<div class="formAgregar">
			<h:form id="form-dialog" styleClass="formAgreg">
				<h:panelGrid columns="2" cellpadding="20">
					<h:outputLabel value="ID" styleClass="label" />
					<h:inputText id="id" value="#{dispositivos.id}" styleClass="output"
						required="true" />

					<h:outputLabel value="Latitud " StyleClass="label" />
					<h:inputText id="lat" value="#{dispositivos.latitud}"
						styleClass="output" required="true" />

					<h:outputLabel value="Longitud" styleClass="label" />
					<h:inputText id="long" value="#{dispositivos.longitud}"
						styleClass="output" required="true" />
				</h:panelGrid>

				<h:commandButton value="Agregar" type="submit" update="form, datos"
					action="#{dispositivos.agregar}" style="width: 90%;height: 50px;" />
			</h:form>
		</div>

	</p:dialog>

</body>
</html>