<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Home</title>
	<link rel="stylesheet" href="recursos/css/main.css" />
	<link rel="stylesheet" href="recursos/css/normalize.css" />
	<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="recursos/js/parallax.js"></script>

	<script>
   $(document).ready(function () {
 	$("body").hide().fadeIn(1000);
      });
 </script>
</h:head>
<body>

	<div class="cover"
		style="background-image: url('recursos/images/background.png');">
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/LOGO_SEIDOR.png" alt="" width="300" />
			</div>
			<h1> IoT, innovando el futuro</h1>
			<a href="#bienvenida" class="icon fa fa-arrow-down"></a>
		</div>
	</div>

	<div id="section" class="info">
		<h2 class="bienvenida">Internet of Things</h2>

		<div class="infoContent">

			<!-- <li><a href="mapaSensores.xhtml"><img id="img-nav" src="recursos/images/logoIoT.png" /></a></li> -->
			<div id="article" class="block">
			<p:graphicImage styleClass="img" value="recursos/images/logoIoT.png"></p:graphicImage>
				<br></br>
				<p:link styleClass="btn" value="Ir" outcome="mapaSensores"></p:link>
				
				<p>AgroThink, es una plataforma Internet of Things que usa la informacion enviada por diferentes sensores para la automatizacion agricola. </p>
			</div>
			
			<div id="article" class="block">
			<p:graphicImage styleClass="img" value="recursos/images/logoHotel.png"></p:graphicImage>
				<br></br>
				<p:link styleClass="btn" value="Ir" outcome="indexHotel"></p:link>
				
				<p>SmartHotel, es una plataforma Internet of Things que usa la informacion enviada por diferentes sensores para la automatizacion de diferentes dispositivos. </p>
			</div>
			
		</div>

	</div>

	<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<!-- 			<p:graphicImage value="recursos/images/LOGO_SEIDOR.png"></p:graphicImage> -->
			<ul>

				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html" target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>
</body>
</html>
