<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>

	<title>Ambiente Luminico</title>
	<link rel="stylesheet" href="recursos/css/estilosHotel.css" />
	<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />


	<style type="text/css">
</style>

	<script>
	

            $(document).ready(function () {

                $("body").hide().fadeIn(1000);
				

            });


        </script>
</h:head>
<body>

	<div class="cover"
		style="background-image: url('recursos/images/background.png');">
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/logoBlanco.png" alt="" width="300" />
			</div>
		</div>
	</div>


	<div id="navegacionHotel">
		<div id="nav">
			<ul>
				<li><p:link styleClass="a" outcome="index" value="Salir"></p:link></li>
				<li><p:link styleClass="a" outcome="Visual" value="Ver"></p:link></li>
			</ul>
		</div>
	</div>

	<div id="data" >
		<div class="titleHotel">
			<p>DATOS EN TIEMPO REAL LUMINOSIDAD</p>
		</div>
		<h:form>

			<p:growl id="growl" showDetail="true" sticky="true" />
			<p:poll interval="1" update="gaugeLuzAmbiente, gaugeLuzArtificial" />
			<p:poll interval="5" update="graphicBar" />

			<div class="graficos" >
				<div class="Row">

					<p:chart type="metergauge" id="gaugeLuzAmbiente"
						model="#{dataSensorHotel.gaugeHotelModel}" styleClass="Column"
						responsive="true">
					</p:chart>

					<p:chart type="metergauge" id="gaugeLuzArtificial"
						model="#{dataSensorHotel.gaugeHotelCalModel}" styleClass="Column"
						responsive="true" >
					</p:chart>
					
					<script>

					
					</script>
				</div>


				<div class="RowBar">

					<p:chart styleClass="ColumnBar" type="bar" id="graphicBar"
						model="#{dataSensorHotel.barModel}" style="height:300px; width: 500px;" />

				</div>

			</div>

		</h:form>
	</div>
	
			<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<!-- 			<p:graphicImage value="recursos/images/LOGO_SEIDOR.png"></p:graphicImage> -->
			<ul>

				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html" target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>



</body>
</html>
