
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Map</title>
	<link rel="stylesheet" href="recursos/css/estilos.css" />
<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />
	<script
		src="https://maps.google.com/maps/api/js?key=AIzaSyABHAbfBh08A5nlv57wWSNvzFEf-_SdURs"
		type="text/javascript"></script>

	<script>

        $(document).ready(function () {

            $("body").hide().fadeIn(1000);
	});

    </script>
</h:head>
<body>
<f:metadata>
    <f:viewParam name="nameId" value="#{dataSensor.deviceName}" />
</f:metadata>

		<div class="cover"
		style="background-image: url('recursos/images/banner.jpg'); heigbackground-size: 100% 150px;;" >
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/logoSeidorAzul.png"  alt="logo" width="300" />
			</div>
		</div>
	</div>

		<div id="navegacion">
			<div id="nav">
				<ul>
					<li><p:link styleClass="a" outcome="index" value="Salir"></p:link></li>
					<li><p:link styleClass="a"  outcome="subIndex" value="ver Datos"></p:link></li>
					<li><p:link styleClass="a"  outcome="dispositivos" value="Agregar/Eliminar"></p:link></li>
				</ul>
			</div>
		</div>

		<div class="title">
			<h1>MAPA DE SENSORES</h1>
		</div>
		<div id="formulario">
			<h:form>

				<p:gmap id="gmap" center="4.092395,-74.9199007" zoom="16"
					type="HYBRID" mapTypeControl="false" navigationControl="false"
					model="#{ubicacionMB.advancedModel}" styleClass="Gmap" style="width:100%;height:400px">

					<p:ajax event="overlaySelect"
						listener="#{ubicacionMB.onMarkerSelect}" />

					<p:gmapInfoWindow id="infoWindow">
						<p:outputPanel
							style="text-align: center; display: block; margin: auto">
							<h:outputLabel value="#{ubicacionMB.marker.latlng}" />
							<br />
							<p:link value="#{ubicacionMB.marker.title}"  outcome="verData" includeViewParams="true">
							<f:param name="nameId" value="#{ubicacionMB.marker.title}" /></p:link>
						</p:outputPanel>
					</p:gmapInfoWindow>
				</p:gmap>

			</h:form>

		</div>
		<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<!-- 			<p:graphicImage value="recursos/images/LOGO_SEIDOR.png"></p:graphicImage> -->
			<ul>

				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html" target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>

</body>
</html>