<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Datos</title>
	<link rel="stylesheet" href="recursos/css/estilos.css" />
<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />
	<script>

            $(document).ready(function () {

                $("body").hide().fadeIn(1000);


               
            });

        </script>
</h:head>
<body>
<div class="cover"
		style="background-image: url('recursos/images/banner.jpg');">
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/logoSeidorAzul.png" alt="" width="300" />
			</div>
		</div>
	</div>
		
		<div id="navegacion">
			<div id="nav">
				<ul>
					<li><p:link styleClass="a" outcome="index" value="Salir"></p:link></li>
					<li><p:link styleClass="a"  outcome="mapaSensores" value="Ver Mapa"></p:link></li>
				</ul>
			</div>
		</div>
	<div class="title">
		<p>DATOS DEL SENSOR</p>
	</div>
	<div id="formulario">
		<h:form>
			<p:commandButton value="Actualizar" update="datos"  process="@this" icon="ui-icon-refresh">   </p:commandButton>
			<br></br>
			<p:dataTable id="datos" value="#{dataSensor.data}" var="item"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks}
                         {NextPageLink} {LastPageLink} {Exporters}"
				paginator="true" rows="10" style="margin-bottom:20px" >

				<p:column style="width: 350px;">
					<f:facet name="header">
						<h:outputText value="DEVICE" />
					</f:facet>
					<h:outputText value="#{item.g_DEVICE}" />
				</p:column>

				<p:column style="width: 350px;">
					<f:facet name="header">
						<h:outputText value="CREATED" />
					</f:facet>
					<h:outputText value="#{item.g_CREATED}" />
				</p:column>

				<p:column style="width: 200px;">
					<f:facet name="header">
						<h:outputText value="TEMPERATURA" />
					</f:facet>
					<h:outputText value="#{item.c_TEMPERATURA}" />
				</p:column>
				
				<p:column style="width: 100px;">
					<f:facet name="header">
						<h:outputText value="HUMEDAD" />
					</f:facet>
					<h:outputText value="#{item.c_HUMEDAD}" />
				</p:column>

			</p:dataTable>

		</h:form>
	</div>
		<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<!-- 			<p:graphicImage value="recursos/images/LOGO_SEIDOR.png"></p:graphicImage> -->
			<ul>

				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html" target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>

</body>
</html>