<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Datos</title>
	<link rel="stylesheet" href="recursos/css/estilos.css" />
<link rel="icon" type="image/ico"
		href="recursos/images/icons/Seidor_icon.ico" />
		
		<script
		src="https://maps.google.com/maps/api/js?key=AIzaSyABHAbfBh08A5nlv57wWSNvzFEf-_SdURs"
		type="text/javascript"></script>
		
		<style type="text/css">
		
		
		
		</style>

	<script>
	

            $(document).ready(function () {

                $("body").hide().fadeIn(1000);


            });

        </script>
</h:head>

<body>

<f:metadata>
    <f:viewParam name="nameId" value="#{dataSensor.deviceName}" />
</f:metadata>

<div class="cover"
		style="background-image: url('recursos/images/banner.jpg');">
		<div class="content">
			<div id="figure" class="logo">
				<img src="recursos/images/logoSeidorAzul.png" alt="" width="300" />
			</div>
		</div>
	</div>
		

		<div id="navegacion">
			<div id="nav">
				<ul>
					<li><p:link styleClass="a" outcome="index" value="Salir"></p:link></li>
					<li><p:link styleClass="a"  outcome="mapaSensores" value="Ver Mapa"></p:link></li>
				</ul>
			</div>
		</div>
		



		<div id="data">
		<div class="title">
			<p>DATOS EN TIEMPO REAL</p>
		</div>
			<div class="btnMapa">
				<p:commandButton id="btn" type="button" icon="ui-icon-pin-s"
					value="Mostrar Mapa" onclick="PF('dlg').show();" />			
			</div>
			
			<h:form>
				
				

				<p:growl id="growl" showDetail="true" sticky="true" />

				<p:poll interval="1" update="message" stop="#{dataSensor.stop}" />

				<p:poll interval="1" update="gaugeTemp, gaugeHumidity, graphicTemp, graphicHumidity"/>
				
				<p:poll interval="10" update="graphicTemp, graphicHumidity"/>

				<!--caja perteneciente al grafico GuageModel de temperatura -->
				
				<div class ="graficos">
				<div class="Row">
					<p:chart type="metergauge" id="gaugeTemp" 
						model="#{dataSensor.gaugeTempModel}" styleClass="Column" responsive="true">
					</p:chart>
					
					<p:chart styleClass="Column" type="line" id="graphicHumidity"
					model="#{dataSensor.lineGraphicHumedad}" />
															
				</div>		
			
			<!--caja correspondiente a el grafico lineal -->
			<div class=" Row">				
				<p:chart type="metergauge" id="gaugeHumidity"
						model="#{dataSensor.gaugeHumidityModel}" styleClass="Column" responsive="true">
					</p:chart>
					
				<p:chart styleClass="Column" type="line" id="graphicTemp"
					model="#{dataSensor.lineGraphic}" />
			</div>				
		</div>
				<!--dialogo correspondiente al mapa emergente por sensor -->
				<p:dialog id="gmapDialog" header="Ubicacion del sensor"
					widgetVar="dlg" width="625" height="400" modal="true"
					hideEffect="fade" showEffect="fade" resizable="false">

					<p:gmap id="gmap" center="4.092395,-74.9199007" zoom="18"
						type="HYBRID" mapTypeControl="false" navigationControl="false"
						model="#{ubicacionMB.advancedModel}"
						style="width:600px; height:390px">

						<p:ajax event="overlaySelect"
							listener="#{ubicacionMB.onMarkerSelect}" />

						<p:gmapInfoWindow id="infoWindow">
							<p:outputPanel
								style="text-align: center; display: block; margin: auto">
								<h:outputLabel value="#{ubicacionMB.marker.latlng}" />
								<br />
								<p:link value="#{ubicacionMB.marker.title}" outcome="verData"></p:link>

							</p:outputPanel>
						</p:gmapInfoWindow>
					</p:gmap>
				</p:dialog>

				<!--dialogo perteneciente al mensaje de alerta del sensor -->
				<p:dialog id="message" showEffect="fade" hideEffect="bounce"
					resizable="false" header="Alerta" widgetVar="dlg2" modal="true"
					height="100"
					visible="#{dataSensor.alertaUso and (!dataSensor.aparecioAlerta)}">
					<h:outputText
						value="Alerta: La temperatura es mayor a 25° ¿Desea enviar un correo de aviso?" />
					<br></br>
					<p:commandButton value="Cancelar" icon="ui-icon-locked "
						onclick="PF('dlg2').hide();" />
					<p:commandButton actionListener="#{dataSensor.sendEmail}"
						update="growl" value="Enviar correo" icon="ui-icon-mail-open"
						oncomplete="PF('dlg2').hide();" />
				</p:dialog>



			</h:form>
		</div>

			<div id="footer">
		<div class="left">
			<p>© 2018. Todos los derechos reservados</p>
		</div>
		<div class="right">
			<!-- 			<p:graphicImage value="recursos/images/LOGO_SEIDOR.png"></p:graphicImage> -->
			<ul>

				<li><a href="#">Términos</a></li>
				<li><a href="#">Privacidad</a></li>
				<li><a href="http://www.seidor.com/content/seidor-com/es.html" target="_blank">Sobre Seidor</a></li>
			</ul>
		</div>
	</div>

</body>
</html>
