<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Home</title>

	<style>
#formulario {
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	height: 80%;
}

#formulario {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
	text-align: center;
}
</style>

</h:head>
<h:body style="background: #e6e6e6;">

	<h1>Datos del sensor</h1>
	<div id="formulario">
		<h:form>
			<p:button outcome="verData" value="Ver datos" icon="ui-icon-notice" />
			<p:commandButton value=":)" icon="ui-icon-cancel" onclick="PF('dlg2').show();">
			</p:commandButton>
			<br></br>
			<p:dataTable id="datos" value="#{data.data}" var="item"
				paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks}
                         {NextPageLink} {LastPageLink} {Exporters}"
				paginator="true" rows="10" style="margin-bottom:20px">

				<p:column>
					<f:facet name="header">
						<h:outputText value="DEVICE" />
					</f:facet>
					<h:outputText value="#{item.g_DEVICE}" />
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="CREATED" />
					</f:facet>
					<h:outputText value="#{item.g_CREATED}" />
				</p:column>

				<p:column filterBy="#{data.c_CPU_USAGE}">
					<f:facet name="header" >
						<h:outputText value="CPU USAGE" />
					</f:facet>
					<h:outputText value="#{item.c_CPU_USAGE}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="CPU TYPE" />
					</f:facet>
					<h:outputText value="#{item.c_CPU_TYPE}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="TIME" />
					</f:facet>
					<h:outputText value="#{item.c__TIME}" />
				</p:column>
			</p:dataTable>

			<p:dialog header="si funciona" widgetVar="dlg2" modal="true"
				height="100">
				<h:outputText value="si sirve" />
				<br></br>
				<p:button outcome="index" value="Volver" icon="ui-icon-seek-first " />
			</p:dialog>
		</h:form>
	</div>



</h:body>
</html>
