<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Ver Datos</title>

	<style>
#formulario {
	margin: 10px;
	padding: 10px;
	border: 2px solid black;
	height: 80%;
}

#formulario {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

h1 {
	text-align: center;
}
</style>
</h:head>

<h:body>

	<h1>Analisis de temperatura Tiempo real</h1>
	<div id="formulario">
		<h:form id="Gauge">

			<p:growl id="growl" showDetail="true" sticky="true" />
			<p:button outcome="index" value="Ver datos" icon="ui-icon-home" />
			<p:poll interval="1" update="gauge, message" stop=""/>

			<p:chart type="metergauge" id="gauge" model="#{data.meterGaugeModel}"
				style="width:600px;height:350px" title="Temperatura"
				label="grados C°" intervalOuterRadius="250" labelHeightAdjust="110" />

			<p:dialog id="message" header="Alerta" widgetVar="dlg2" modal="true"
				height="100" visible="#{data.alertaUso}">
				<h:outputText value="Alerta: El uso del CPU es superior al 75% ¿Desea enviar un correo de aviso?" />
				<br></br>
				<p:button outcome="verData" value="Cancelar" icon="ui-icon-locked " />
				<p:commandButton actionListener="#{data.sendEmail}" update="growl" value="Enviar correo"
					icon="ui-icon-mail-open " />
			</p:dialog>

		</h:form>
	</div>
</h:body>
</html>
