* {
	margin: 0px;
	padding: 0px;
}

@font-face {
	font-family: "OpenSans-Semibold";
	font-style: normal;
	font-weight: normal;
	src: local("?"), url("recursos/fuentes/OpenSans-Semibold.ttf"),
		format(truetype);
}

body {
	font-family: OpenSans-Semibold, sans-serif;
	background: white;
}

.cover {
	height: 150px;
	width: 100%;
	max-width: 100%;
	max-height: 150px;
}

.logo {
	padding: 5px;
	position: relative;
	top: 25px;
	right: 10px;
	float: right;
}

h1 {
	text-align: center;
}

#navegacionHotel ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #24728A;
	height: 50px;
}

#navegacionHotel li {
	float: left;
	margin: 5px 10px;
	width: 100px;
}

#navegacionHotel li .a {
	display: block;
	color: white;
	text-align: center;
	padding: 5px 5px;
	text-decoration: none;
	margin: auto;
}

/* Change the link color to #111 (black) on hover */
#navegacionHotel li .a:hover {
	background: #1B8FB2;
	border-top: 1px solid white;
	border-bottom: 2px solid white;
	border-radius: 5px 10px;
	color: white;
}

.titleHotel {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 25px;
	color: #24809D;
	margin: 10px;
}

#data {
	padding: 5px;
	margin: auto;
}

.Row{
	margin-top: 5px;
	margin-bottom: 5px;
}

.Row {

	display: table;
	border-spacing: 10px;
	padding-top: 5px;
	border: 5px;
	margin: auto;
	border: 2px solid #9F9F9F;
}

.RowBar {

	display: table;
	border-spacing: 10px;
	padding-top: 5px;
	border: 5px;
	margin: auto;
	border: 2px solid #9F9F9F;
}


.Column {
	display: table-cell;
	background: white;
	border-style: outset;
	width: 400px;
	height: 250px;
	margin: 5px 10px;
	padding: 5px;
}

.ColumnBar {
	display: table-cell;
	background: white;
	border-style: outset;
	width: 500px;
	height: 250px;
	margin: 5px 10px;
	padding: 5px;
}

.footerLabel {
	margin: 10px;
}

#footer {
	margin-top: 15px;
	width: 100%;
	clear: both;
	color: white;
	background: #24728A;
	line-height: 40px;
	overflow: hidden;
}

#footer .left {
	float: left;
	margin-left: 20px;
}

#footer .right {
	float: right;
	margin-right: 20px;
}

#footer ul {
	list-style: none;
}

#footer ul li {
	display: inline-block;
	margin-right: 5px;
}

#footer ul li a {
	color: white;
}

#footer ul li a:hover {
	color: #DADADA;
	text-decoration: underline;
}