* {
	margin: 0px;
	padding: 0px;
}

@font-face{
	
	font-family:"OpenSans-Semibold";
	font-style: normal;
	font-weight: normal;
	src: local("?"),  url("recursos/fuentes/OpenSans-Semibold.ttf"), format(truetype);
}

body {
	font-family: OpenSans-Semibold, sans-serif;
	background: white;
}

#principal {
	width: 100%;
	height: 100%;
}

/* Style the header */
#header {
	padding: 5px;
}



#navegacion ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #5DA521;
	height: 50px;

}

#navegacion li {
	float: left;
	margin: 5px 10px;
	width:auto;
}

#navegacion li .a {
	display: block;	
	color: white;
	width:150px
	text-align: center;	
	padding: 5px 5px;
	text-decoration: none;
	margin: auto;
}

/* Change the link color to #111 (black) on hover */
#navegacion li .a:hover {
	background: #2E7F1F;
	border-top: 1px solid #4BF800;
	border-bottom: 2px solid #4BF800;
	border-radius: 5px 10px;
	color: white;
	
}


#navegacionHotel ul {
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	background-color: #24728A;
	height: 50px;

}

#navegacionHotel li {
	float: left;
	margin: 5px 10px;
	width: 100px;
}

#navegacionHotel li .a {
	display: block;	
	color: white;
	text-align: center;	
	padding: 5px 5px;
	text-decoration: none;
	margin: auto;
}

/* Change the link color to #111 (black) on hover */
#navegacionHotel li .a:hover {
	background: #1B8FB2;
	border-top: 1px solid white;
	border-bottom: 2px solid white;
	border-radius: 5px 10px;
	color: white;
	
}

.cover{
	height:150px;
	width: 100%;
	max-width: 100%;
	max-height: 150px;
	


}
.logo{
    padding: 5px;
    position: relative;
    top: 25px;
    right:10px;
   float: right;

}


.title {
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	font-size: 25px;
	color: #308B20;
	margin: 10px;
	
}



.titleLabel{
	text-align: center;
}

.formAgregar{
	margin: auto;
	padding: 15px;
	border: 1px outset black;
	
}

.formAgreg{
	
	margin-left: 50px;
	
}
	
.btnEnviar{
	margin: auto;
	background: #BBBBBB;
	
}

#formDialog{
	margin: auto;
}

.titleForm {
	text-align: center;
	color: white;
	padding: 5px
}

#titleFormulario{
	background: #5DA521;
	width: 100%;
	height: 50px;
margin-bottom: 5px;
	
}

.label{
	margin: 5px;
	width: 200px;
	text-align: right;
	
}

.output{
	margin: 5px;
	width: auto;
}

#formulario {
	padding: 5px;
	border: 2px solid black;
	margin: auto;
	width: 95%;	
	max-width: 100%;
	

}

#formulario {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


#data {
	padding: 5px;
	margin: auto;
	

}


h1 {
	text-align: center;
}

#footer{
	margin-top: 15px;
    width: 100%;
    clear: both;
    color: white;
    background: #5DA521;
    line-height: 40px;
    overflow: hidden;
}
#footer .left{
    float: left;
    margin-left: 20px;
}
#footer .right{
    float: right;
    margin-right: 20px;
}
#footer ul{
    list-style: none;
}
#footer ul li{
    display: inline-block;
    margin-right: 5px;
}
#footer ul li a{
  color: white;
}
#footer ul li a:hover{
    color: #DADADA;
    text-decoration: underline;
}

.banner {
	max-width: 90%;
	max-height: 100px;
	opacity: 0.90;
	margin-left: 10px;
	width:"auto";
	 height:"auto";
}

.imgFooter {
	width: 100px;
	height: 30px;
}

.footerLabel {
	margin: 10px;
}

.Row {
	display: table;
	border-spacing: 10px;
	padding-top: 5px;
	border: 5px;
	margin: auto;
	border: 2px solid #9F9F9F;
	
}

.Column {
	display: table-cell;
	background: white;
	border-style: outset;
	width: 400px;
	height: 250px;
	margin: 5px 10px ;
	padding: 5px;
}

.btnMapa{
	width:100%;
	margin: 10px;
	padding: 5px;
}

