a{
    text-decoration: none;
}

body{
    /*	font-family: 'Lato', sans-serif;*/
    font-family: 'Signika Negative', sans-serif;
}

.content #figure{
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

.content h1{
    font-family: 'Kaushan Script', cursive;
    color: #dfe4e4;
    font-size: 50px;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

.content{
    text-align: center;
}

.cover{
    position: relative;
/*     background: url('./recursos/images/background.png'); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
}

.content .icon{
    animation: float 1.5s ease-out infinite;
    color: white;
    font-size: 80px;
}

.info{
    background-color: #3c667b;
    color: white;
    padding: 20px;
}




.info .a {
	
    color: white;
}

.info h2{
    font-family: 'Signika Negative', sans-serif;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
    font-size: 50px;
    margin: 15px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.infoContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.infoContent .block h3{
    font-family: 'Signika Negative', sans-serif;
    font-size: 25px;
    margin: 5px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.infoContent .block h3 a {
    color: #ffffff;
    text-shadow: 2px 2px 3px black;
}

.infoContent .block{
    padding: 8px;
    width: 300px;

}


.btn{
    font-family: 'Signika Negative', sans-serif;
    padding: 10px 50px;
    border-radius: 30px;
    border: 2px solid #dfe4e4;
    background-color: transparent;
    color: white;
    font-weight: 600;
    margin: 10px 0;
    display: inline-block;
    transition: 0.3s;
    box-shadow: 0px 1px 3px black;
}

.btn-pint{
    color: blue;
}

.btn:hover{
    transform: scale(1.2);
    letter-spacing: 3px;
    background-color: #dfe4e4;
    color: #3c667b;
}
.fa:hover{
    transition: 0.3s;
    transform: scale(1.4);

}

.img{
	border: 1px solid white;
	border-radius: 5px;
	width: 150px;
	height: 200px;
	background: #dfe4e4;
}

/*Footer*/
#footer{
    width: 100%;
    clear: both;
    color: white;
    background: #315363;
    line-height: 40px;
    overflow: hidden;
}
#footer .left{
    float: left;
    margin-left: 20px;
}
#footer .right{
    float: right;
    margin-right: 20px;
}
#footer ul{
    list-style: none;
}
#footer ul li{
    display: inline-block;
    margin-right: 5px;
}
#footer ul li a{
  color: white;
}
#footer ul li a:hover{
    color: #DADADA;
    text-decoration: underline;
}

.logo{
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 10px;

}


.relleno {
    clear: both;
}

.margin-left {
    margin-left: 2em;
}

/* Estilos de las clases*/

.clase h3 a {
    color: #FF5722 !important;
}

/*Animación*/
@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

/* Media queries*/
@media all and (min-width: 769px){
    .content h1{
        font-size: 100px;
    }

    .infoContent .block{
        width: 30%;
    }
}

@media only screen and (max-width : 320px) 
{
    
    .info{word-break: break-word}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) 
{ 
   .info{word-break: break-word}
}
